@import "../../Utilities/ColorPalette/_ColorPalette";
@import "../../Utilities/Variables/_Variables.scss";

%placeholder {
    margin: 3vh 0;
    position: relative;
    background: grey;
    background-image: linear-gradient();
    background-repeat: no-repeat;
}